<%= render 'tabs' %>

<table class='table table-condensed table-bordered table-striped'>
			
		<tr>
			<th colspan=1>Member</th>
			<th colspan=3 class='aln_c'>Position</th>
			<th colspan=2 class='aln_c'>Daily Result</th>
			<th colspan=5 class='aln_c'>Comments</th>
		</tr>
		<tr>
			<th></th>
			<th>Stock</th>
			<th class='aln_c'>Purchase Price</th>
			<th class='aln_c'>Days Held</th>
			<th class='aln_c'>Current Price</th>
			<th class='aln_c'>Change</th>
			<th class='span7'></th>
			<th></th>
		</tr>

<% @stocks.each_with_index do |stock| %>
	<tr>
		<th><%= stock[1] %></th>
		<td><%= stock[5] %> [<%= stock[6] %>]</td>
		<td class='aln_r'>$<%= stock[2]%></td>
		<td class='aln_r'><%= distance_of_time_in_words(stock[3], Date.today) %> </td> <!-- Holding Period -->
		<td class='aln_r'>$<%= stock[7] %></td>
		<td class='aln_r'><%= stock[8] %></td>
		<td></td>

		<% s = Stock.find_by_symbol(stock[6].downcase) %>
	    <td><%= link_to 'S', stock_path(s) %>|<%= link_to 'E', edit_stock_path(s) %>|<%= link_to 'D', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>
