
<%= simple_form_for(@stock) do |f| %>
<div style='color:red;'><%= @error[0] if @error %></div>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div data-role="fieldcontain">
		  	<%= f.label 'Ticker Symbol:' %><br>	
    		<%= f.text_field :symbol %>
    	</div>
	</div>
	<div class="ui-block-b">
    	<div data-role="fieldcontain">
		  <%= f.label 'Purchase Date:' %><br>
		  <%= f.text_field :purch_date, :type => 'date', :value => Date.today %>
    	</div>
	</div>
</div>

<%= f.hidden_field :purch_price, :value => 21 %>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div data-role="fieldcontain">
	        <label for="selectmenu1">Portfolio:</label><br>
			<%= f.select :portfolio, Stock.all.collect { |p| p.portfolio }.uniq, :selected => @port, 'data-theme' => "b" %>
        </div>
    </div>
    <div class="ui-block-b">
        <div data-role="fieldcontain">
	        <label for="selectmenu1">User:</label><br>
			<%= f.select :user_id, User.all.collect { |u| [ u.name, u.id ] }, :selected => current_user, 'data-theme' => "b" %>
        </div>
    </div>
</div>



		<% i = 0 %>
		<%= f.fields_for :comments do |comment| %>
		<div class='form-box'>
		<div class='row'>
			<div class='span4'>
				<% if !comment.object.new_record? %>
				<label class="checkbox inline">
			<!--- attach.check_box :_destroy, {:checked => attach.object.persisted?}, '0', '1' %>Save Attachment? ---->
					<%= comment.check_box :_destroy %><b>Delete Comment <%= i ; i += 1 %></b>					
				</label>
				<% end %>				
			</div>
		</div>
		  <div class="form-inputs">
			<label for="stackedSelect">Comment</label>
		    <%= comment.text_area :note , :class => "input textarea span8", :rows => 5  %>
			<%= comment.hidden_field :user_id , :value => current_user.id %>
		  </div>
		</div>
	<% end %>




    		<%= f.button :submit, 'Create position' , 'data-role' => "button", 'data-inline' => "true", 'data-theme' => "b" %>
			<%= link_to 'Cancel', stocks_path(:mobile => 1), 'data-role' => "button", 'data-inline' => "true", 'data-theme' => "b", :style => 'background-image: -webkit-linear-gradient(top, white, #5393C5);' %>

<% end %>
