<script>
function GetPrice() {
	Symbol = $("#stock_symbol").val();
	PurchDate = $("#stock_purch_date").val();
	$.get('/stocks/lookup', 
      { symbol:Symbol, purch_date:PurchDate },         
      function(data) { UpdatePrice(data); }
	);
}
function UpdatePrice(data) {
	var stock = data.split("#&#");
	$("#stock_purch_price").val (stock[0]);
	$("#stock_name").val (stock[1]);
	$("#quantity").text (Math.floor(<%= Portfolio.find_by_name(@port).cash %> / stock[0]) );
	
//$("#stock_purch_price").text = 'data' ;
}

$(document).ready(function(){
	
	$('#stock_quantity').change(function() {
		max = parseFloat($('#quantity').text()) ;
	  if ( $('#stock_quantity').val() > max ) 
			{ $('#stock_quantity').val (max) }
    });
//	$('#stock_purch_price').live('input', function() {
//	  alert('Handler for .change() called.');
//    });


});

</script>

<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>
<div class='row'>
	<div class='span4'>
  		<div class="form-inputs">
			<%= f.label 'Symbol:' %>
		    <%= f.text_field :symbol %>
			<%= link_to_function 'Get Price', 'GetPrice();', :class => 'btn btn-info btn-mini' %><br>
			<%= f.label 'Purchase Price:' %>
		    <%= f.text_field :purch_price %>
			<br>
			<div style='float:left;'>Available Cash:</div> <b> <%= number_to_currency(Portfolio.find_by_name(@port).cash) %></div></b>
			<div style='float:left;'>Maximum Number of Shares:</div> <b><div id='quantity'>0</div></b>

			<%= f.label 'Quantity:' %>
    		<%= f.text_field :quantity, :class => 'span2' %><span class="help-block">To take a short position - enter negative quantity</span><br>
			<%= f.label 'Purchase Date: ' %>
	  		<%= f.text_field :purch_date, :type => 'date', :value => Date.today, :class => 'span2' %>
	</div>
	<div class='span5'>	
		<%= f.label 'Name: ' %>
  		<%= f.text_field :name %>
	  <%= f.label 'Portfolio: ' %>
<%= f.select :portfolio_id, options_for_select(Portfolio.where(:user_id => current_user.id).collect { |p| [p.name, p.id] }, :selected => Portfolio.find_by_name(@port).id ) %>
<%= f.association :user, :selected => current_user %>
		<% i = 0 %>
		<%= f.fields_for :comments do |comment| %>
		<div class='row'>
			<div class='span5'>
				<% if !comment.object.new_record? %>
				<label class="checkbox inline">
			<!--- attach.check_box :_destroy, {:checked => attach.object.persisted?}, '0', '1' %>Save Attachment? ---->
					<%= comment.check_box :_destroy %><b>Delete Comment <%= i ; i += 1 %></b>					
				</label>
				<% end %>				
			</div>
		</div>
		<br>
		  <div class="form-inputs">
			<label for="stackedSelect"><b>Comment</b></label>
		    <%= comment.text_area :note , :class => "input textarea span3", :rows => 4  %>
			<%= comment.hidden_field :user_id , :value => current_user.id %>
		  </div>
		
	</div>
</div>
	<% end %>


  <div class="form-actions">
    <%= f.button :submit, 'Add Poistion', :class => 'btn btn-mini btn-success' %>
	<%= link_to 'cancel', stocks_path, :class => 'btn btn-mini' %>

  </div>



  </div>

<% end %>

