
<div id='pv' ><%= @port %></div>
As of: <%= Time.now.strftime(" %I:%M%p") %><br>

<table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
 
         <thead>
           <tr class="ui-bar-d">
             <th data-priority="2">Mem</th>
             <th>Stock</th>
             <th data-priority="3">Price</th>
             <th data-priority="1">Change</abbr></th>
             <th data-priority="5">Perf</th>
           </tr>
         </thead>
         <tbody>

				<% @stocks.each_with_index do |stock, i| %>
				<%= i.odd? ? "<tr style='background: #eee;' >".html_safe : "<tr>".html_safe %>
						<th><%= stock[1] %></th>
						<td><%= stock[6] %></td>
						<td style='text-align:right !important;'><%= number_to_currency stock[7], :precision => 2 %></td>
						<td style='text-align:right !important;'><%= stock[8] %></td> <!-- Gain/Loss -->
						<td style='text-align:right !important;'><%= number_to_percentage ( 100 * ( stock[8] / stock[7] )), :precision => 2  %></td>
				  </tr>
				<% end %>

        </tbody>
</table>
