<%= link_to 'Home', start_path, :class => 'btn btn-mini'%><br><br>

<h4>All Positions held in Family Fun Portfolios</h4><br>
 
<table class='table table-condensed table-bordered table-striped'>
		<tr>
			<th>Stock</th>
			<th>Owner</th>
			<th class='aln_c'>Purchase Price</th>
			<th class='aln_c'>Days Held</th>
			<th class='aln_c'>Current Price</th>
			<th class='aln_c'>Gain/Loss</th>
		</tr>

	<% s = Portfolio.where(:name => 'Family Fun').collect { |p| p }.collect { |p| p.stocks }.flatten %>
	<% stocks = s.collect { |stock| [ stock, stock.position_gain_loss[1] ] }.sort_by! { |i| -i[1] } %>

	<% stocks.each_with_index do |s,value| %>
	<% stock = s[0]%>
	<tr>
		<td><%= stock.name %>[<%= stock.symbol.upcase %>]</td>
		<td><%= stock.portfolio.user.name %></td>
		<td class='aln_r'><%= number_to_currency(stock.purch_price) %></td>
		<td class='aln_r'><%= distance_of_time_in_words(stock.purch_date, Date.today) %> </td> <!-- Holding Period -->
		<td class='aln_r'><%= number_to_currency(stock.current_price) %></td>
		<td class='aln_r'><%= number_to_percentage(100*(stock.current_price-stock.purch_price)/stock.purch_price) %></td>
  </tr>
	<% end %>

</table>

