<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot/jqplot.dateAxisRenderer.min.js"></script>


<script>

$(document).ready(function(){
	
	var width = $('.container').innerWidth() * 0.95;
	var height = width / 2 ;
	$('#chart2').css({'height': height, 'width': width});

<% s = Translog.parse_daily_snapshot %>

line = [ ] ;
<% (0..5).each do |i| %>
	<% line = s.collect { |a| a[i] } %>
	rank = [ ] ;
	<% line.each do |ln| %>
	rank.push ([ <%= "'#{ln[0]}'".html_safe %>, <%= "#{ln[1]}" %> ]) ;
	<% end %>
	line.push(rank) ;
<% end %>

	
  var plot2 = $.jqplot('chart2', line, {
      title:'Portfolio Performance',
	   	axesDefaults: {
	       	tickOptions: {
	         		fontSize: '10pt'
	       	}
	   	}, 
      axes:{
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer, 
          tickOptions:{formatString:'%b %#d, %#I %p'},
          min:'Jan 25, 2013 8:00AM', 
          tickInterval:'2 weeks'
        },
	   yaxis : {
	        tickOptions: {formatString: "$%'i" },
	    }

      },
      // Custom labels for the series are specified with the "label"
      // option on the series option.  Here a series option object
      // is specified for each series.
      series:[
          {label:'Andy'},
          {label:'Gina'},
          {label:'Mike'},
          {label:'Nerissa'},
          {label:'Roberta'},
          {label:'Tim'}
      ],
	  grid: {
	            backgroundColor: '#FFF'
	        },
      // Show the legend and put it outside the grid, but inside the
      // plot container, shrinking the grid to accomodate the legend.
      // A value of "outside" would not shrink the grid and allow
      // the legend to overflow the container.
      legend: {
          show: true,
          placement: 'outsideGrid'
      }

  });

});

</script>

<%= link_to 'Home', start_path, :class => 'btn btn-mini'%><br><br>

<table   style="margin: auto;"><tr><td><td>
	<td>
		<div style="text-align:center;">


<h3>All Positions held in Family Fun Portfolios</h3><br>
 
<table class='table table-condensed table-bordered table-striped'>
		<tr>
			<th>Stock</th>
			<th>Owner</th>
			<th class='aln_c'>Purchase Price</th>
			<th class='aln_c'>Days Held</th>
			<th class='aln_c'>Current Price</th>
			<th class='aln_c'>Gain/Loss</th>
		</tr>

	<% s = Portfolio.where(:name => 'Family Fun').collect { |p| p }.collect { |p| p.stocks }.flatten %>
	<% stocks = s.collect { |stock| [ stock, stock.position_gain_loss[1] ] }.sort_by! { |i| -i[1] } %>

	<% stocks.each_with_index do |s,value| %>
	<% stock = s[0]%>
		<% if stock.quantity > 0 %>
		<tr>
			<td><%= stock.name %>[<%= stock.symbol.upcase %>]</td>
			<td><%= stock.portfolio.user.name %></td>
			<td class='aln_r'><%= number_to_currency(stock.purch_price) %></td>
			<td class='aln_r'><%= distance_of_time_in_words(stock.purch_date, Date.today) %> </td> <!-- Holding Period -->
			<td class='aln_r'><%= number_to_currency(stock.current_price) %></td>
			<td class='aln_r'><%= number_to_percentage(100*(stock.current_price-stock.purch_price)/stock.purch_price) %></td>
	  	</tr>
		<% end %>
	<% end %>

</table>

<br><br>

<h3>Results over Time</h3>



<div id="chart2" style="height:300px; width:650px;"></div>

	</td>
	<td></td></tr>
</table>
<br><br>


<h3>All Portfolio Transactions</h3>

<% Translog.read_log[1..-1].each do |logfile| %>
<%= logfile %><br>
<% end %>




