<script>

/Mobile/.test(navigator.userAgent) && !location.hash && setTimeout(function () {
    if (!pageYOffset) window.scrollTo(0, 1);
}, 1000);

function ManageList()
  {
	PV = $("#pv").text();
	window.location = '/stocks/manage_list?mobile=1&portfolio_view=' + PV ;
  }


$(document).ready(function(){
SelectList('overall') ;
})

function SelectList(Action) {
    var selected = $("#portfolio-select option:selected").text();
	$.get('/stocks', 
      { portfolio:selected, type_of_action:Action },         
      function(data) { $("#port_list").html(data); }
	);
  }


$("#portfolio-select").change(function() {
SelectList('overall') ;
});

function NewPortfolioTest() {
	$("#new_portfolio").submit();
//	window.location = '/stocks?mobile=1' ;	
}

function AddPosition() {
    PV = $("#portfolio-select option:selected").text();
	window.location = '/stocks/new?mobile=1&portfolio_view=' + PV ;	
}

</script>


<div data-theme="b" data-role="header">
	<span class="ui-title">
    </span>
    
    <%= link_to_function 'Home', "GoHome();", 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "home", 'data-iconpos' => "left", :class => "ui-btn-left" %>
   
    <%= link_to 'Logout', destroy_user_session_path(:user), :method=>'delete', 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "star", 'data-iconpos' => "left", :class => "ui-btn-right" %>
    </a>
</div>


<div data-role="content">
		
		<div data-role="popup" id="new_portfolio_popup" data-theme="a" class="ui-corner-all">
			<%= simple_form_for(@portfolio, :url => portfolios_create_path(@portfolio)) do |f| %>
				<div style="padding:10px 20px;">
				  <h3>Create Portfolio</h3>
		          <label for="un" >Portfolio Name:</label>
			    	<%= f.text_field :name  %>

		          <label for="pw" >Initial Cash:</label>
				<%= f.text_field :cash, :value => number_with_precision(f.object.cash, :precision => 0) %>
				<%= f.hidden_field :user_id, :value => current_user.id %>


	<%= link_to_function 'Submit', 'NewPortfolioTest();', 'data-role' => "button", 'data-inline' => "true", 'data-theme' => "b" %>
	<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>	    	  
				</div>
			<% end %>
		</div>
	
	<div class="ui-grid-a">
		 <div class="ui-block-a">
<a href="#new_portfolio_popup" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-mini = "true">New Portfolio</a>
		</div>
		<div class="ui-block-b">	
<%= link_to_function 'Add position', 'AddPosition();', 'data-role' => "button", 'data-inline' => "true", 'data-theme' => "b", 'data-mini' => "false", 'data-mini' => "true" if Portfolio.first %>	
		</div>
	</div>
		
			
<%= select_tag "portfolio-select", options_for_select(Portfolio.where(:user_id => current_user.id).collect { |p| p.name }, :selected => @port), 'data-theme' => "b" %>	
	

<div id='port_list'>
</div>

<br>
<div data-role="navbar" data-iconpos="top">
    <ul>
        <li>
			<%= link_to_function "Today's<br>Action".html_safe, "SelectList('today');", 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "star" %>
        </li>
        <li>
			<%= link_to_function "Overall<br>Action".html_safe, "SelectList('overall');", 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "star", :class => "ui-btn-active ui-state-persist" %>
        </li>
        <li>
			<%= link_to_function "Manage<br>List".html_safe, "ManageList();", 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "grid" %>
        </li>
    </ul>
</div>


      
         </div><!-- /content -->

<div data-role="footer" data-theme="b">
      <h1>Denenberg @2012 | <%= link_to "Full Site", stocks_path(:mobile => 0), :target => '_blank' %></h1>
</div><!-- /header -->



