<script>

$(document).ready(function(){
SelectList('overall') ;
})

function SelectList(Action) {
    var selected = $("#portfolio-select option:selected").text();
	$.get('/stocks', 
      { portfolio:selected, mobile:true, type_of_action:Action },         
      function(data) { $("#port_list").html(data); }
	);
  }

$("#portfolio-select").change(function() {
SelectList() ;
});

</script>


<div data-theme="b" data-role="header">
	<span class="ui-title">
    </span>
    
    <%= link_to current_user.name, 'users/edit?mobile=1', 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "star", 'data-iconpos' => "left", :class => "ui-btn-left" %>
    </a>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "star", 'data-iconpos' => "left", :class => "ui-btn-right" %>
    </a>
</div>



   <div data-role="content">
	
<%= select_tag "portfolio-select", options_for_select(Stock.all.collect { |p| p.portfolio }.uniq, :selected => @port) %>	
	

<div id='port_list'>
</div>


<br>
<div data-role="navbar" data-iconpos="top">
    <ul>
        <li>
			<%= link_to_function "Today's<br>Action".html_safe, "SelectList('today');", 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "plus" %>
        </li>
        <li>
			<%= link_to_function "Overall<br>Action".html_safe, "SelectList('overall');", 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "plus", :class => "ui-btn-active ui-state-persist" %>
        </li>
        <li>
			<%= link_to "Add<br>Stock".html_safe, new_stock_path(:mobile => 1), 'data-transition' => "fade", 'data-theme' => "a", 'data-icon' => "plus" %>
        </li>
    </ul>
</div>


      
         </div><!-- /content -->

		<div data-role="footer">

		      <h1>Denenberg @2012 | <%= link_to "Full Site", stocks_path(:mobile => 0), :target => '_blank' %></h1>
		   </div><!-- /header -->



