<style>
.top_header {
font-size:22px;	
}
</style>

<div class='row'>
	<div class='span6'>
		<div class='introbox'>

			<br>
			<div class='top_header'>&nbsp;<b>My Portfolios</b>&nbsp;&nbsp;
			<%= link_to 'New Portfolio', '#myModal', :class => 'btn btn-mini btn-info', 'data-toggle' => "modal" %></div><br>
			

			<table class='table table-condensed table-bordered table-striped'>
					<tr>
						<th>Portfolio Name</th>
						<th class='aln_c'>Portfolio Value</th>
						<th>Gain/Loss</th>
					</tr>						
			<% Portfolio.where(:user_id => current_user).each do |portfolio| %>
				<tr>
					<td><%= link_to portfolio.name, stocks_path(:portfolio => portfolio.name), :class => 'btn btn-mini btn-success' %></td>
					<td class='aln_r'><%= number_to_currency(portfolio.current_value) %></td>
					<td class='aln_r'><%= number_to_currency(portfolio.unrealized_gain_loss[0] ) %></td>						
			  </tr>
				<% end %>
			</table>

			<%= render '/stocks/partials/new_portfolio' %>

		</div>		    
	</div>
	
	<div class='span6'>
		<div class='introbox'>

			<br>
		<% if [1,2,3,4,5,6].include?(current_user.id) %>
			<div class='top_header'>&nbsp;<b>Family Favorite Results</b>&nbsp;&nbsp;
			<%= link_to 'Details', family_fun_positions_stocks_path, :class => 'btn btn-mini' %></div><br>
			<table class='table table-condensed table-bordered table-striped'>
					<tr>
						<th>Family Member</th>
						<th class='aln_r'>Portfolio Value</th>
						<th class='aln_r'>% Invested</th>
						<th class='aln_r'>Gain/Loss</th>						
					</tr>						
			<% Portfolio.family_rank.each do |user| %>
				<tr>
					<td>
						<% if current_user.name == User.find(user[0]).name %>
						<%= link_to User.find(user[0]).name, stocks_path, :class => 'btn btn-mini btn-success' %>
						<% else %>
						<%= User.find(user[0]).name %>
						<% end %>
					</td>
					<td class='aln_r'><%= number_to_currency(user[1]) %></td>
					<td class='aln_r'><%= number_to_percentage( 100 * (user[1] - user[2]) / user[1] ) %></td>
					<td class='aln_r'><%= number_to_percentage( 100 * (user[1] - 100000)/100000 ) %></td>
			  </tr>
				<% end %>
			</table>
		<% else %>
			<div class='top_header'>&nbsp;<b>Section reserved for Family Members</b>&nbsp;&nbsp;
		<% end %>
		</div>
	</div>

		
			
		</div>		    
	</div>
</div>

	<div class="row">		
        <div class="span12 schoolbox">	
			<div class='well' style='background-color:white;'>	
				<b style='font-size:20px;'><%= link_to 'Discussion', posts_path %></b>
				<%= link_to 'Add&raquo;'.html_safe, new_post_path(:type_is => 'Discussion') , :class => "btn btn-mini" %><br><br>
				
						<% @disc.each do |post| %>
				    	<b><em style='font-size:16px;'><%= link_to post.title, post_path(post, :type_is => 'Discussion') %></em></b>
				    	<p><%= post.body.html_safe %>
						   <code><%= link_to 'Read Item', post_path(post, :type_is => 'Discussion') %></code> |
			 					 <%= post.created_at.strftime('%b-%d-%Y') %></p>

				<hr>
						<% end %>
							<%= will_paginate @disc, :class => 'pagination pagination-right pagination-small' %>

						
			</div><!--/well-->	
        </div><!--/span-->
     </div><!--/row-->



