<style type="text/css">
	.myChart {
		width: 300px;
		height: 200px;
	}
</style>

<script>
	$(document).ready(function(){
		rank = [ ] ;
		<% Portfolio.family_rank.each do |user| %>
		name = <%= "'#{User.find(user[0]).name}'".html_safe %> ;
		value = <%= "#{user[1]}" %> ;
		r1 = [name, value]  ;
		rank.push(r1) ;
		<% end %>
		
	ChartFamilyRank(rank);
});

</script>

<div data-theme="b" data-role="header">
	<span class="ui-title">
    </span>
	<%= link_to_function current_user.name, 'GoAdmin();', 'data-icon' => "home", 'data-theme' => "a" %>

    <%= link_to 'Logout', destroy_user_session_path(:user), :method=>'delete', 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "star", 'data-iconpos' => "left", :class => "ui-btn-right" %>
    </a>
</div>

   <div data-role="content">
	
	
		<div id="barChart" class="myChart"></div>
	
	
		<% Time.zone = 'America/New_York' %>
      <p>As of: <%= Time.zone.now.strftime("%m/%d/%Y %I:%M%p") %> EST</p>
		

    
       <table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a" style="margin: auto;">
        
					<tr class="ui-bar-d">
						<th>Family Member</th>
						<th class='aln_c'>Portfolio Value</th>
						<th class='aln_c'>Performance</th>
					</tr>
					
			<% Portfolio.family_rank.each_with_index do |user, i| %>
				<%= i.odd? ? "<tr style='background: #eee;' >".html_safe : "<tr>".html_safe %>
					<td><%= User.find(user[0]).name %></td>
					<td style='text-align:right !important;'><%= number_to_currency(user[1]) %></td>
					<td style='text-align:right !important;'><%= number_to_percentage( 100 * (user[1] - 100000)/100000 ) %></td>
			  </tr>
				<% end %>

				</table>
<p>Started on 01/03/2013 with $100,000</p>
<%= link_to 'My Portfolios', stocks_path, 'data-role' => "button", 'data-icon' => "star", 'data-iconpos' => "left", 'data-mini' => "true", 'data-inline' => 'true', 'data-theme' => "b"  %>
<%= link_to 'Family Positions', family_fun_positions_stocks_path, 'data-role' => "button", 'data-icon' => "star", 'data-iconpos' => "left", 'data-mini' => "true", 'data-inline' => 'true', 'data-theme' => "b" %>


</div><!-- /content -->

<div data-role="footer">
      <h1>Denenberg @2012 | <%= link_to "Full Site", start_path(:mobile => 0), :target => '_blank' %></h1>
</div><!-- /header -->



