

<div class='row'>
	<div class='span6'>
		<div class='introbox'>
	    	<h4><%= link_to 'My Notes', posts_path(:type_is => 'Discussion') %></h4>
	
					<% @disc.each do |post| %>
			    	<b><em style='font-size:16px;'><%= link_to post.title, post_path(post, :type_is => 'Discussion') %></em></b>
			    	<p><%= post.attachments.first.description.html_safe %>
					   <code><%= link_to 'Read Item', post_path(post, :type_is => 'Discussion') %></code> |
		 					 <%= post.created_at.strftime('%b-%d-%Y') %></p>

			<hr>
					<% end %>
						<%= will_paginate @news, :class => 'pagination pagination-right pagination-small'%>
	
			<p><%= link_to 'Add Note &raquo;'.html_safe, posts_path(:type_is => 'Discussion') , :class => "btn btn-small btn-success" %></p>
		</div>		    
	</div>
	
	<div class='span6'>
		<div class='introbox'>
			<h4><%= link_to 'News', posts_path(:type_is => 'News') %></h4>
			<% @news.each do |post| %>
	    	<b><em style='font-size:16px;'><%= link_to post.title, post_path(post, :type_is => 'News') %></em></b>
	    	<p><%= post.attachments.first.description.html_safe %>
			   <code><%= link_to 'Read Item', post_path(post, :type_is => 'News') %></code> |
 					 <%= post.created_at.strftime('%b-%d-%Y') %></p>
	
	<hr>
			<% end %>
				<%= will_paginate @news, :class => 'pagination pagination-right pagination-small'%>
			
		</div>		    
	</div>
</div>

	<div class="row">		
        <div class="span12 schoolbox">	
			<div class='well' style='background-color:white;'>	
	
				<%= render 'stocks/index' %>
				
		
			</div><!--/well-->	
        </div><!--/span-->
     </div><!--/row-->

<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>




