<!DOCTYPE html>

<html>
<head>
	<title>JQM Charts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes"/>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

	<%= javascript_include_tag "jquery.jqplot.min" %>
	<%= javascript_include_tag "jqplot/jqplot.pieRenderer.min.js" %>
	<%= javascript_include_tag "jqplot/jqplot.barRenderer.min.js" %>
	<%= javascript_include_tag "jqplot/jqplot.categoryAxisRenderer.min.js" %>
	<%= javascript_include_tag "rockit/underscore.min.js" %>
	<%= javascript_include_tag "rockit/hideAddressBar.js" %>
	<%= javascript_include_tag "rockit/app.js" %>
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <%= stylesheet_link_tag "jqplot/jquery.jqplot.min", :media => "all" %>

	
	<style type="text/css">
		.myChart {
			width: 300px;
			height: 200px;
		}
	</style>
</head>
<body>

<script>
	$(document).ready(function(){
	plot_it();
});

</script>

	<div data-theme="b" data-role="header">
		<span class="ui-title">
	    </span>
		<%= link_to_function 'Signed-in as ' + current_user.name, 'GoAdmin();', 'data-icon' => "home" %>

	    <%= link_to 'Logout', destroy_user_session_path(:user), :method=>'delete', 'data-role' => "button", 'data-inline' => "true", 'data-direction' => "reverse", 'data-theme' => "a", 'data-icon' => "star", 'data-iconpos' => "left", :class => "ui-btn-right" %>
	    </a>
	</div>


<div data-role="content">
	
			<div id="barChart" class="myChart"></div>
				
<br>
	       <table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a" style="margin: auto;">

					<tr class="ui-bar-d">
						<th>Family Member</th>
						<th class='aln_c'>Portfolio Value</th>
						<th>Gain/Loss</th>

					</tr>						
			<% Portfolio.family_rank.each_with_index do |user,i| %>
				<%= i.odd? ? "<tr style='background: #eee;' >".html_safe : "<tr>".html_safe %>
					<td>
						<% if current_user.name == User.find(user[0]).name %>
						<%= link_to User.find(user[0]).name, stocks_path, :class => 'btn btn-mini btn-success' %>
						<% else %>
						<%= User.find(user[0]).name %>
						<% end %>
					</td>
					<td style='text-align:right !important;'><%= number_to_currency(user[1]) %></td>
					<td style='text-align:right !important;'><%= number_to_percentage( 100 * (user[1] - 100000)/100000 ) %></td>
			  </tr>
				<% end %>
			</table>

			<%= link_to 'Positions', family_fun_positions_stocks_path, 'data-role' => "button", 'data-icon' => "star", 'data-iconpos' => "left", 'data-mini' => "true", 'data-inline' => 'true', 'data-theme' => "b" %>

	<%= link_to 'Back', start_path, 'data-role' => "button", 'data-icon' => "star", 'data-iconpos' => "left", 'data-mini' => "true", 'data-inline' => 'true', 'data-theme' => "b" %>

	<br>
	<br>
	</div><!-- /content -->

	<div data-role="footer">
	      <h1>Denenberg @2012 | <%= link_to "Full Site", start_path(:mobile => 0), :target => '_blank' %></h1>
	</div><!-- /header -->

	
</body>
</html>